<mat-toolbar class="header">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span class="header__title-logo-wrapper">
    <mat-icon class="header__logo">filter_drama</mat-icon>
    <span class="header__title">{{appTitle}}</span>
  </span>

  <button *ngIf="activeUser" mat-icon-button [matMenuTriggerFor]="menu" class="header__menu">
    {{activeUser ? activeUser.username : 'logged-out'}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>login</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</mat-toolbar>