<mat-tab-group animationDuration="1000ms" class="weather">
  <mat-tab *ngFor="let weatherRecord of usersWeatherData" [label]="weatherRecord?.city | uppercase">
    <ng-template mat-tab-label>{{weatherRecord.city | uppercase}}
      <mat-icon class="weather__remove-btn" (click)="openRemoveCityDialog(weatherRecord?.city)">delete</mat-icon>
    </ng-template>
    <div *ngIf="!error" class="weather__content">
      <app-current-weather-widget [city]="weatherRecord?.city"></app-current-weather-widget>
      <app-forecast-line-chart [city]="weatherRecord?.city"></app-forecast-line-chart>
    </div>

    <div *ngIf="error">
      <h3 class="weather__error">We' re sorry. Something went wrong with your request. Please try again later.</h3>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <button class="weather__add-btn" (click)="openAddCityDialog()" mat-button>
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>