@import '../../../variables.scss';

.auth-container {
  margin-top: 50%;
}

.login {
  display: grid;
  justify-items: center;

  &__input {
    width: 30rem;
  }

  &__btn {
    background-color: $color-primary;
    color: $color-btn-text;
  }

  &__error {
    text-align: center;
    padding-bottom: 0.5rem;
    color: $color-warning;
  }

  &__info {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: rgb(92, 91, 91);
  }
}

div:nth-child(2) {
  margin-top: -0.5rem;
}

.logged__in {
  display: grid;
  row-gap: 1rem;
  justify-items: center;
  grid-template-rows: max-content;

  &__cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
      margin: 1rem;
      width: 13rem;
      color: #fff;
    }

    &-forecast {
      background-color: $color-success;
    }

    &-logout {
      background-color: $color-primary;
    }
  }
}
