.login {
    margin-top: 50%;
    display: grid;

    &__input {
        width: 30rem;
    }

    &__btn {
        justify-self: center;
        background-color: rgb(58, 51, 51);
        color: #fff;
    }
}

div:nth-child(2) {
    margin-top: -0.5rem;
}
