<section class="weather__current"
  [ngClass]="{'weather__current-day': currentWeatherData?.isDay, 'weather__current-night': !currentWeatherData?.isDay}">
  <div class="weather__current-icon">
    <mat-icon *ngIf="currentWeatherData?.isDay">wb_sunny</mat-icon>
    <mat-icon *ngIf="!currentWeatherData?.isDay">nights_stay</mat-icon>
  </div>

  <div class="weather__current-heading">
    <span>{{currentWeatherData?.city | uppercase}}</span>
    <span>{{currentWeatherData?.temperature}}&#176;</span>
  </div>

  <div class="weather__current-details">
    <span>Humidity: {{currentWeatherData?.humidity}}%</span>
    <span>Atm pressure: {{currentWeatherData?.atmosphericPressure}} hPa</span>
    <span>Wind direction: {{currentWeatherData?.windDirection}}&#176;</span>
    <span>Wind speed: {{currentWeatherData?.windSpeed}} m/h</span>
  </div>
</section>