.dialog {

  &__add,
  &__remove {
    display: grid;
    justify-items: center;
  }

  &__title {
    text-align: center;
  }

  &__btn {
    &-add {
      background-color: rgb(77, 62, 62);
      color: #fff;
    }
  
    &-delete {
      background-color: rgb(255, 53, 17);
      color: #fff;
    }
  
    &-cancel {
      background-color: rgb(77, 62, 62);
      color: #fff;
    }
  }
  
  &__error {
    color: red;
    text-align: center;
  }
}
