@import "../../../../variables.scss";

.dialog {
  &__add,
  &__remove {
    display: grid;
    justify-items: center;
  }

  &__title {
    text-align: center;
  }

  &__btn {
    &-add,
    &-cancel {
      background-color: $color-primary;
      color: $color-btn-text;
    }

    &-delete {
      background-color: $color-warning;
      color: $color-btn-text;
    }
  }

  &__error {
    color: $color-warning;
    text-align: center;
  }
}
