// Responsive breakpoints
$bp-medium: 75em; // 1200px
$bp-small: 50em; // 800px
$bp-xsmall: 31.25em; // 500px
$bp-xxsmall: 21.875em; // 350px

// Global color schemes
$color-primary: rgb(65, 51, 51);
$color-warning: rgb(255, 49, 13);
$color-success: rgb(4, 214, 151);
$color-btn-text: rgb(255, 255, 255);